@font-face {
    font-family: 'Ropa Sans Pro';
    src: url(../fonts/RopaSansProRegular.otf);
}

@media (min-width: 992px) and (max-width: 4095.98px) {
  .deb {
    border: 2px solid red;
  }
  .container-content {
    min-height: calc(100vh - 210px);
    max-width: 1024px;
    margin: 0 auto;
  }
  .container-footer {
    height: 210px;
    max-width: 1024px;
    margin: 0 auto;
  }
  a:link, a:visited, a:active, a:hover {
    cursor: pointer;
    text-decoration:none;
  }
  .img_head {
    float: right;
    margin-top: 2vh;
    width: inherit;
    height: auto;
  }
  .text_head_l {
      font-family: 'Ropa Sans Pro', Arial;
      line-height: 1.1;
      color: #465A78;
      font-size: 1.2rem;
      margin-top: 1.5vw;
  }
  .text_head_r {
      font-family: 'Ropa Sans Pro', Arial;
      line-height: 1.1;
      text-align: right;
      color: #465A78;
      margin-top: 1.5vw;
  }
  .btn_menu {
    color: #465A78;
    cursor:pointer;
    font-family: 'Ropa Sans Pro', Arial;
    border-width: 0.2vh;
    border-style: solid;
    border-color: #465A78;
    text-align: center;
    display: block;
    width: 100%;
  }
  .btn_menu_col {
    margin-left: 1px;
    margin-right: 1px;
  }
  .news_hr {
    border: 0.1vw solid #465A78;
    margin-top: 0;
    margin-bottom: 1vh;
  }
  .text_t {
    color: #465A78;
    font-family: 'Ropa Sans Pro', Arial;
    font-size: 1.25rem;
    line-height: 1.1;
  }
  .text_b {
    color: #465A78;
    font-family: 'Ropa Sans Pro', Arial;
    font-size: 1rem;
  }
  .text_news {
    color: #465A78;
    font-family: 'Ropa Sans Pro', Arial;
    font-size: 1rem;
    display: inline-block;
    text-indent: 1.5em;
    text-align: justify;
  }
  .news_last {
    min-height: 24vw;
    border-width: 0.3vh;
    border-style: solid;
    border-color: #465A78;
    margin-right: 2px;
  }
  .text_d {
    color: #203045;
    font-family: 'Ropa Sans Pro', Arial;
    position: absolute;
    bottom: 0;
    right: 1vw;
  }
  .img_news_block {
    width: auto;
    height: 180px;
  }
  .img_news {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .ftr_bg {
    background-color: #465A78;
    height: 165px;
  }
  .ftr_img {
    height: 45px;
    /*margin-bottom: -2px;*/
    margin-left: auto;
    margin-right: 70px;
  }
  .ftr_a:link, .ftr_a:visited, .ftr_a:active, .ftr_a:hover {
    color: #D9D5D6;
    font-size: 0.7rem;
    cursor: pointer;
    text-decoration:none;
  }
  .ftr-col {
    line-height: 1.1;
    margin-left: 2vw;
    margin-top: 1vh;
  }
  .ftr_text {
    color: #D9D5D6;
    font-size: 0.7rem;
    margin-top: 2vh;
  }
  .ftr_p {
    margin-bottom: 0.4rem;
  }
  .ftr_ico {
    height: 12px;
    height: 12px;
  }
  .post_block_link {
    cursor: pointer;
    padding: 0;
    margin: 0 0 20px 0;
  }
  .post_block_link:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .btn_menu:hover, .btn_menu:active {
    background-color: #465a78;
    color: #F6F2F3;
    text-decoration: none;
  }
}
