{% extends 'base.html' %}
{% block content %}
{% for post in post_ls %}
    <div class="card w-75">
      <h5 class="card-header">{{ post.title }}</h5>
      <div class="card-body">
        <p>{{ post.text|safe }}</p>
        <a href="{% url 'post_pg' pk=post.id %}" class="btn btn-outline-danger btn-sm">Подробнее</a>
      </div>
      <div class="card-footer text-muted">
        <p style='text align: right'>Автор: {{ post.author }}; Дата: {{ post.date_cr }}</p>
      </div>
    </div>
{% endfor %}
{% endblock content %}
