{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "images/base/favicon.ico" %}" rel="icon"  type="image/png" sizes="32x32">
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body style="background-color: #F6F2F3;">

    <!-- Шапка -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2">
          <img class="img_head" src="{% static "images/base/logo.png" %}">
        </div>
        <div class="col-lg-6">
          <div class="text_head_l">
            МУНИЦИПАЛЬНОЕ БЮДЖЕТНОЕ<br>
            ОБЩЕОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ<br>
            "СРЕДНЯЯ ОБЩЕОБРАЗОВАТЕЛЬНАЯ ШКОЛА № 15"
          </div>
        </div>
        <div class="col-lg-4">
          <div class="text_head_r" style="margin-top: 1.5vh; margin-right: 2vw;">
            <p>Кемеровская область, Таштагольский район,<br>
            п.г.т.Мундыбаш, ул.Ленина, 5<br>
            8(38473)-63-8-40<br>
            school@msc15.ru</p>
          </div>
        </div>

      </div>
    </div>

    <!-- Меню -->
    <div class="col-lg-10 offset-lg-1 no-gutters" style="margin-top: 1vh;">
      <div class="row align-items-start">
        <div class="col col_padding">
          <a href="#" class="btn_menu btn-block">Главная</a>
        </div>
        <div class="col col_padding">
          <a href="#" class="btn_menu btn-block">Сведения об ОУ</a>
        </div>
        <div class="col col_padding">
          <a href="#" class="btn_menu btn-block">Обучение</a>
        </div>
        <div class="col col_padding">
          <a href="#" class="btn_menu btn-block">ГИА И ОГЭ</a>
        </div>
        <div class="col col_padding">
          <a href="#" class="btn_menu btn-block">Приём в школу</a>
        </div>
        <div class="col col_padding">
          <a href="#" class="btn_menu btn-block">Контакты</a>
        </div>
      </div>
    </div>

    <!-- Банер -->
    <div class="col-lg-10 offset-lg-1" style="padding: 0vh 0.1vw 0vh 0.1vw; margin-top: 1vh;">
      <div id="banners_sh" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#banners_sh" data-slide-to="0" class="active"></li>
          <li data-target="#banners_sh" data-slide-to="1"></li>
          <li data-target="#banners_sh" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static "images/banners/banner_0.png" %}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static "images/banners/banner_0.png" %}" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static "images/banners/banner_0.png" %}" alt="Third slide">
          </div>
        </div>
      </div>
    </div>

    <script src="{% static "js/jquery-3.2.1.slim.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
  </body>
</html>
