{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "images/base/favicon.ico" %}" rel="icon"  type="image/png" sizes="32x32">
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body style="background-color: #F6F2F3;">

    <!-- Шапка -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2" style="padding-right: 0;">
          <img class="img_head" src="{% static "images/base/logo.png" %}">
        </div>
        <div class="col-lg-5">
          <div class="text_head_l">
            МУНИЦИПАЛЬНОЕ БЮДЖЕТНОЕ<br>
            ОБЩЕОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ<br>
            "СРЕДНЯЯ ОБЩЕОБРАЗОВАТЕЛЬНАЯ ШКОЛА № 15"
          </div>
        </div>
        <div class="col-lg-5">
          <div class="text_head_r">
            Кемеровская область, Таштагольский район,<br>
            п.г.т.Мундыбаш, ул.Ленина, 5<br>
            8(38473)-63-8-40<br>
            school@msc15.ru
          </div>
        </div>

      </div>
    </div>

    <!-- Меню -->
    <div class="container-fluid" style="margin-top: 2vh; padding-right: 14px; padding-left: 14px;">
      <div class="row justify-content-center no-gutters">
        <div class="col btn_menu_col">
          <a href="#" class="btn_menu">Главная</a>
        </div>
        <div class="col btn_menu_col">
          <a href="#" class="btn_menu">Сведения об ОУ</a>
        </div>
        <div class="col btn_menu_col">
          <a href="#" class="btn_menu">Обучение</a>
        </div>
        <div class="col btn_menu_col">
          <a href="#" class="btn_menu">ГИА и ОГЭ</a>
        </div>
        <div class="col btn_menu_col">
          <a href="#" class="btn_menu">Приём в школу</a>
        </div>
        <div class="col btn_menu_col">
          <a href="#" class="btn_menu">Контакты</a>
        </div>
      </div>
    </div>

    {% block content %}{% endblock content %}

    <script src="{% static "js/jquery-3.2.1.slim.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
  </body>
</html>
